
<form role="form" ng-submit="book()"><pre>
        First Name: <input type="text" name="fName" ng-model="fName">

        Last Name:  <input type="text" name="lName" ng-model="lName">

        Adress:     <input type="text" name="address" ng-model="address">

        City:       <input type="text" name="city" ng-model="city">    ZIP:  <input type="text" name="zip" ng-model="zip">

        Country:    <input type="text" name="country" ng-model="country">


                    <button type="submit" class="btn btn-success">Submit Order</button>  </pre>  
</form>
