<html lang="en">


    <head>
         <meta charset="utf-8">
         <title>Booking</title>

    </head>
     <body>
         <div class="container">
             

                <h3>Booking</h3>


                <div ng-controller="View2Ctrl">

                    

                     <form role="form" ng-submit="book(booker)"><pre>
         First Name: <input type="text" name="fName" ng-model="booker.fName">


        Last Name:  <input type="text" name="lName" ng-model="booker.lName">

        Email:     <input type="text" name="address" ng-model="booker.email">

       Phone:       <input type="text" name="city" ng-model="booker.phone"> 
    
         

        


                    <button type="submit" class="btn btn-success">Submit Order</button>  </pre>  
                     </form>
                 </div>
                 
                 </div>
                 </body>
                 </html>
