<h3>Your reservations   </h3>


<div  ng-controller="View4Ctrl" >

    <br>

    <uib-accordion>
        <div ng-repeat="reservations in output">
            <uib-accordion-group heading="{{reservations.reserveeName}} -> {{reservations.reservePhone}}" ng-repeat="flight in airline.flights">



                <ul>

                    <li><b>Username: </b> {{airline.airline}} </li>
                    <li><b>Passangers: </b> {{flight.flightID}} </li>
                    <li><b>Airline: </b> {{flight.totalPrice}} </li>
                    <li><b>Phone: </b> {{flight.totalPrice}} </li>
                    <li><b>Email: </b> {{flight.totalPrice}} </li>
                    <li><b>Flights: </b> {{flight.totalPrice}} </li>

                    
                </ul>
        </div>
        </uib-accordion-group>
    </uib-accordion>
</div>