<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Sign up here</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div id="login-form">

    <h3>Login</h3>

    <fieldset>
                <div ng-controller="View3Ctrl">
                    <form role="form" ng-submit="book()"><pre>
        First Name: <input type="text" name="fname" ng-model="fname">

        Last Name:  <input type="text" name="lname" ng-model="lname">

        Adress:     <input type="text" name="address" ng-model="address">

        City:       <input type="text" name="city" ng-model="city">    ZIP:  <input type="text" name="zip" ng-model="zip">

        Country:    <input type="text" name="country" ng-model="country">


                    <button type="submit" class="btn btn-success">Submit Order</button>  </pre>  
                    </form>
                </div>
    </fieldset>

            
        </div>
        </div>
    </body>
</html>