<h3>Search for your dreamed flight</h3>


<div  ng-controller="View1Ctrl">
    <form role="form" ng-submit="getFlight()" >
        From:
        <select ng-options="apt as apt.label for apt in airport track by apt.id"  ng-model="chosenAirport" ></select>
<br>


        Departure date:
        <input type="date" name="date" ng-model="date"><br>
        Seats: <select  name="tickets" ng-model="tickets">          
            <option value="1" >1</option>
            <option value="1" >2</option>
        </select>
        <br>
        <br>

        <button type="submit" class="btn btn-success">Search</button>
    </form>





    <uib-accordion>
        <uib-accordion-group ng-repeat="flight in output" >
            <uib-accordion-heading  ng-repeat="actual in flight.flights">
                {{actual.destination}}
            </uib-accordion-heading>
            <ul ng-repeat="details in flight.flights">

                <li><b>Date:</b> {{details.date}} </li>
                <li><b>Seats available:</b> {{details.numberOfSeats}} </li>
                <li><b>Price:</b> {{details.totalPrice}} </li>




            </ul>
        </uib-accordion-group>
    </uib-accordion>
</div>