<h3>Search for your dreamed flight</h3>


<div  ng-controller="View1Ctrl">
    <form role="form" ng-submit="getFlight()">
        From:
        <select ng-options="apt as apt.label for apt in airport track by apt.id"  ng-model="chosenAirport" ></select>
        <br>


        Departure date:
        <input type="date" name="date" ng-model="date"><br>
        Seats: <select  name="tickets" ng-model="tickets">          
            <option value="1" >1</option>
            <option value="1" >2</option>
        </select>
        <br>
        <br>

        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <br>

    <uib-accordion>
         <div ng-repeat="flight in output">
        <uib-accordion-group heading="{{single.destination}}" ng-repeat="single in flight.flights ">
           

                
                <ul>
                    
                    <li><b>Seats available: </b> {{single.numberOfSeats}} </li>
                    <li><b>Duration: </b> {{single.traveltime}} </li>
                    <li><b>Price: </b> {{single.totalPrice}} </li>
                    
                    <a href="#view2"><button type="submit" class="btn btn-success">Book</button>
                </ul>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>